<header>
    <div class="container">
        <div>
            <h1><%= link_to "Sample app", root_path%></h1>
        </div>
        <nav>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Log in", "#" %></li>
            </ul>
        </nav>
    </div>
</header>