<% provide(:title, current_user.name) %>
<div>
    <aside>
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
</div>