$black: #000000;
$white: #ffffff;
$gray: #d3d3d3;
$dark-gray: #666666;
$light-gray: #e7e7e7;
$light-blue: #1873ab;
$light-pink: #f0b9b9e9;
$dark-pink:#d94545;
$light-green: #c9efbfe9;
$dark-green:#2b893c;
$red: #dc4f5d;