$black: #000000;
$white: #ffffff;
$gray: #d3d3d3;
$dark-gray: #666666;
$light-gray: #e7e7e7;
$light-blue: #1873ab;
$sky-blue: #b6d9ef;
$light-pink: #f4cccce9;
$dark-pink:#9f2a2ad2;
$light-green: #c9efbfe9;
$dark-green:#2b893c;
$red: #dc4f5d;
$light-yellow: #f7efb4e9;
$dark-yellow: #c4aa1ce9;