@import '../variables';

.signup-form-container{
    width: 550px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: xx-large;
    }

    .signup-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $black;
        font-weight: bold;

        .form-with-border{
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }

        .signup-button{
            text-align: center;
            padding: 15px 30px;
            background-color: $light-blue;
            border-radius: 5px;
            color: $white;
            font-weight: 300;
            cursor: pointer;
        }
    }
}