@import 'layout';

footer{
    width: 100%;

    .container{
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            ul{
                display: flex;
                gap: 30px
            }
        }
    }
}