@import 'layout';
@import '../page/home';
@import '../page/signup';
@import '../page/login';

main{
    height: 100%;

    .container{
        .flash-success{
            font-weight: 500;
            padding: 20px 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            color: $dark-green;
            background-color: $light-green;
            border-radius: 10px;
        }

        .flash-danger{
            font-weight: 500;
            padding: 20px 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            color: $dark-pink;
            background-color: $light-pink;
            border: 1px solid $dark-pink;
            border-radius: 10px;
        }

        @extend .container;
        .home{
            @extend .home;
        }

        .singup-form-container{
            @extend .singup-form-container;
            }

        .login-form-container{
            @extend .login-form-container;
            }
    }
}
