<div class="home">
    <div class="home-content">
        <p class="home-title">Welcome to the Sample App</p>
        <p class="home-description">This is the home page for the <a>Ruby on Rails Tutorial</a> sample application</p>
        <div class="signup-container"><span class="signup"><%= link_to "Sign up now!", signup_path%></span></div>
    </div>
    <div class="home-logo">
        <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),"https://rubyonrails.org/" %>
    </div>
</div>